//Style profile info
.ProfileInfo {
  text-align: center;
  border-bottom: 1px solid rgb(179, 177, 177);

  .PP {
    margin-top: 20px;
    height: 100px;
    border-radius: 25px;
    box-shadow: 8px 8px 16px #c2c2c2, -8px -8px 16px #ffffff;
  }

  .ppForm {
      margin-top: 20px;
    .ppBtn {
      border-radius: 5px;
      border: none;
      box-shadow: 8px 8px 16px #c2c2c2, -8px -8px 16px #ffffff;
      width: 100px;
      height: 30px;
    }

    .inputPP {
      border-radius: 5px;

    }
  }

  .userName {
    margin-top: 30px;
    font-family: 'Heebo';
    font-size: 20px;
    margin-bottom: 20px;
  }
}
