<!-- Style profile info -->

<div class="ProfileInfo">
        <!-- "http://localhost:3001/assets/pps/5fae01212c5fe657176e22d4.jpeg" -->
<img *ngIf="user" src='{{url}}/assets/pps/{{user._id}}.jpeg' alt="" class="PP">
    <div class="userName"> Juan Pablo Ramos Robles</div>
    <form [formGroup]="form" enctype="multipart/form-data" class="ppForm" (ngSubmit)="onSubmit()" >
        <input type="file" name="image" class="inputPP"  (change)="onFileChange($event)">
        <button class="ppBtn">Upload</button>
    </form>
</div>