//Style for NavBar
#navBar {
  font-family: 'Heebo';
  position: fixed;
  top: 0;
  width: 100%;

  #Titulo{
    font-weight: bold;
    letter-spacing: 2px;
  }
 
  #navBar-btns{
      margin-left: 1080px;
      .PP{
        height: 30px;
        margin-top: 5px;
        border-radius: 50px;
        margin-right: 5px;
      }
  }
}
