<!-- Navbar  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navBar">
    <a class="navbar-brand" routerLink="/" id="Titulo">Movie tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navBar-btns">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <img *ngIf="user" src='{{apiUrl}}/assets/pps/{{user._id}}.jpeg' alt="" class="PP">
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="logOut()">Logout</a>
            </li>
        </ul>
    </div>
</nav>