//Style 2 watch

.toWatchContainer {
  margin-top: 20px;
  display: flex;

  .text{
      font-family: 'Heebo';
      font-size: 20px;
      margin-left: 30px;
  }
  .towatch {
    width: 84%;
    margin-left: 40px;
    // text-align: center;
    // margin-right: auto;
    border-radius: 50px;
    border-radius: 20px;
    box-shadow: 8px 8px 16px #c2c2c2,
    -8px -8px 16px #ffffff;
    height: 225px;
    ;
  }
}
