<div class="watchedContainer">
    <div class="text">Watched : </div>
    <div class="watched" *ngFor="let item of movies">
        <app-watched-movie></app-watched-movie>
        <app-watched-movie></app-watched-movie>
        <app-watched-movie></app-watched-movie>
        <app-watched-movie></app-watched-movie>
        <app-watched-movie></app-watched-movie>
        <app-watched-movie></app-watched-movie>
        <app-watched-movie></app-watched-movie>
        <app-watched-movie></app-watched-movie>
    </div>
</div>