//Style for the register

//NavBar
#NavBar {
  font-family: 'Heebo';
  position: absolute;
  top: 0;
  width: 100%;

  #Titulo{
    font-weight: bold;
    letter-spacing: 2px;
  }
  #loginBtns{
    margin-left: 400px;
    display: inline;
    #formLogin{
      display: inline;
      
    }
    #inputLogin{
      width: 310px;
    }
  }
  
}
