<div class="RegisterContainer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="NavBar">
        <a class="navbar-brand" href="#">Movie Tracker</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <input class="form-control mr-sm-2" type="text" placeholder="Email" aria-label="Search">
            <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search">
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </nav>
    <app-register-modal></app-register-modal>
    <app-footer></app-footer>
</div>