<app-navbar></app-navbar>
<div class="movieProfileContainer">
    <div class="profile" *ngIf="currentMovie">

        <div class="poster" >
            <img src="http://image.tmdb.org/t/p/original/{{currentMovie.poster_path}}" alt="" class="Poster">
        </div>

        <div class="details">
            <div></div>
        <h1 class="title" name='title' >{{currentMovie.original_title}}</h1>
            <div class="data">
                <div>
                    <h4>Release Date</h4>
                    {{currentMovie.release_date}}
                </div>
                <div>
                    <h4> Popularity </h4>
                    {{currentMovie.popularity}}
                </div>
            </div>
            <div class="overview">
                <h4>Overview</h4>
                {{currentMovie.overview}}
            </div>
            <div class="similarText">
                Similar Movies
            </div>
            <!-- <div class="similarContainer">
                <div class="similarMovies">
                    <div>
                        <app-watched-movie></app-watched-movie>
                    </div>
                </div>
            </div> -->
            <app-watched [movies] = "similar"></app-watched>
        </div>

    </div>
</div>
<app-footer></app-footer>