<app-navbar></app-navbar>
<div class="movieProfileContainer">
    <div class="profile">

        <div class="poster">
            <img src="src=../../../../assets/Avengers.png" alt="" class="Poster">
        </div>

        <div class="details">
            <div></div>
            <h1 class="title">Avengers: Infinity war</h1>
            <div class="data">
                <div>
                    <h4>Release Date</h4>
                    80/80/90
                </div>
                <div>
                    <h4> Popularity </h4>
                </div>
            </div>
            <div class="overview">
                <h4>Overview</h4>
                The work of billionaire tech CEO Donovan Chalmers is so valuable that he hires mercenaries to protect it, and a terrorist group kidnaps his daughter just to get it.
            </div>
            <div class="similarText">
                Similar Movies
            </div>
            <div class="similarContainer">
                <div class="similarMovies">
                    <div>
                        <app-watched-movie></app-watched-movie>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>