//Style home page

.homePage{
    font-family: 'Heebo';
    #buscarInput{
        margin-top: 80px;
        border-radius: 10px;
        margin-left: 20px;
        width: 300px;
        height: 40px;
        border: none;
        box-shadow: 8px 8px 16px #c2c2c2,
          -8px -8px 16px #ffffff;
    }
}