//Style home page
.homePage {
    font-family: 'Heebo';
    #buscarInput {
        margin-top: 80px;
        border-radius: 10px;
        margin-left: 20px;
        width: 300px;
        height: 40px;
        border: none;
        box-shadow: 8px 8px 16px #c2c2c2, -8px -8px 16px #ffffff;
        margin-bottom: 40px;
    }

    .profile{
        
    }
    .categorySelect{
        border-radius: 10px;
        border: none;
        margin-left: 15px;
        height: 40px;
        box-shadow: 8px 8px 16px #c2c2c2, -8px -8px 16px #ffffff;
    }
    //Style of card movies
    .card-group {
        width: 280px;
        border-radius: 15px;
        margin-left: 0px;
        .card {
            border-radius: 15px;
            box-shadow: 8px 8px 16px #c2c2c2, -8px -8px 16px #ffffff;
            .imgContainer {
                text-align: center;
                background-color: transparent;
                .card-img-top {
                    margin-top: 10px;
                    border-radius: 15px;
                    width: 200px;
                }
            }
            .card-title {
                text-align: center;
            }
            .card-footer {
                .btn1 {
                    border: none;
                    margin-left: 10px;
                    border-radius: 15px;
                    background-color: rgb(140, 159, 211);
                    box-shadow: 8px 8px 16px #c2c2c2, -8px -8px 16px #ffffff;
                }
                .btn2 {
                    margin-left: 150px;
                    border-radius: 15px;
                    border: none;
                    background-color: rgb(140, 159, 211);
                    box-shadow: 8px 8px 16px #c2c2c2, -8px -8px 16px #ffffff;
                }
            }
        }
    }
    .grid {
        >div {
            height: 450px;
            // border: solid 1px #ddd;
            img {
                width: 100%;
            }
        }
    }
}