/* You can add global styles to this file, and also import other style files */
@import './styles/main.scss';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body, html{
    background-image: url("./assets/background.png");
}