//My profile style

.profileContainer{
    margin-top: 70px;
    .profile{
        background-color: #fff;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        height: 700px;
        #movieLists{
            margin-top: 70px;
            .watchedMovies{
                margin-bottom: 20px;
            }
            .ListM{
                font-weight: bold;
                font-family: 'Heebo';
                font-size: 20px;
            }
        }
    }
}